<h2>即時聊天</h2>

<%= form_for Message.new, :remote => true do |f| %>
  <%= f.text_field :content %>
  <%= f.submit "Ajax 送出" %>
<% end %>

<%= form_for Message.new do |f| %>
  <%= f.text_field :content, :id => "ws-content" %>
  <%= f.submit "WS 送出", :id => "ws-submit" %>
<% end %>

<ul id="message-list">
  <% Message.all.order("id DESC").each do |m| %>
    <li><%= m.content %> at <%= m.created_at.to_s %></li>
  <% end %>
</ul>

<script>
  $("#ws-submit").click(function(e){
    e.preventDefault();
    var content = $("#ws-content").val();
    App.messages.speak( content );
    $("#ws-content").val("");
  })
</script>
